pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://webhook.site/273136c5-91a5-4f6f-b046-d255dbca5f39",
					"method": "POST",
					"body": {
						"value": "@variables('varfnfilename')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varfnfilename",
					"value": {
						"value": "@pipeline().parameters.fn",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fn": {
				"type": "string"
			},
			"fp": {
				"type": "string"
			}
		},
		"variables": {
			"varfnfilename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}