pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adb-801721263383391.11.azuredatabricks.net/api/2.1/jobs/run-now",
					"method": "POST",
					"headers": {
						"Authorization": "Bearer dapi2e67b4245caa75a9202d23a0dcc0641e"
					},
					"body": {
						"job_id": 124763102571124
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://webhook.site/d7d888a9-4ee3-4be8-85c6-dc794120a454",
					"method": "POST",
					"body": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}